<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <th:block th:each="msg : ${messages}">
        <h1 th:text="${msg}"></h1>
    </th:block>
</div>
<div><a href="/cars">/cars</a></div>
<div><a href="/cars?count=1">/cars?count=1</a></div>
<div><a href="/cars?count=2">/cars?count=2</a></div>
<div><a href="/cars?count=3">/cars?count=3</a></div>
<div><a href="/cars?count=4">/cars?count=4</a></div>
<div><a href="/cars?count=5">/cars?count=5</a></div>
<div><a href="/cars?count=6">/cars?count=6</a></div>
</body>
</html>